<h2>Cálculo de Juros</h2>

<div>Valor presente (em R$):</div>
<input type="number" step="0.01" [(ngModel)]="vp" />
<div>Juros (em %):</div>
<input TYPE="number" STEP="0.01" [(ngModel)]="j" />
<div>Período (em meses):</div>
<input type="number" step="0.01" [(ngModel)]="n" />
<div>Valor futuro:</div>
<input TYPE="number" STEP="0.01" />
<h4>R$ {{ getJuros() }}</h4>

<table border="1">
  <tr>
    <th> n </th>
    <th> Juro Simples </th>
    <th> Juro Composto </th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>